<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
     <add name="strcon " connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=App_Data\UnivProject.accdb " />
     </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
